<!--Далее в коде рассмотрим базовые блоки страницы-->
<!DOCTYPE html>
<html lang="ru">
<!--В head записываются данные о странице, но не сам ее "скелет" -->
<head>
    <meta charset="UTF-8">
<!--  title - название страницы на вкладке  -->
<!--  Двойные фигурные скобки - это синтаксис шаблонизатора jinja2
      Он подставит содержимое переменной title в тег title -->
    <title>{{ title }}</title>
</head>
<!--В теге body описывается структура страницы-->
<body>
<!-- теги h1 - h6 это заголовки h1 - самый главный, h6 - самый последний в иерархии-->
    <h1>Hello from H1</h1>
    <h6>Hello from H6</h6>
<!-- p - это тег параграфа в нем описывается текст-->
    <p>Это параграф</p>
<!-- a - ссылка, адрес самой ссылки указывается в атрибуте href-->
    <a href="https://www.google.com/">Это ссылка</a>
<!-- ul - неупорядоченный список -->
    <ul>
        Меню
<!--        далее представлен цикл в шаблонизаторе, он имеет похожий вид на цикл в python-->
        {% for item in menu %}
<!--        li - элемент списка -->
<!--        Далее перечисляем все элементы в теге li-->
        <li>{{ item }}</li>
<!--        необходимо еще указать завершение цикла-->
        {% endfor %}
<!--        <li>Поспать</li>-->
<!--        <li>Поесть</li>-->
<!--        <li>Попить воды</li>-->
    </ul>
</body>
</html>